.header{
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    
}
.logo{
    width: 100px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
   
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  }

 
  .res-card :hover{
    cursor: pointer;
    border: 1px solid black;
  }
  .search{
    padding: 10px;
  }
  .res-logo{
    width: 100%;
  }
  .res-container{
    display: flex;
    flex-wrap: wrap;
   
  }
  .login-btn{
    margin:10px;
    padding: 0px 20px;
    cursor: pointer;
  }
  .body{
    display: flex;
    flex-wrap: wrap;
  }
.search-bar{
  display: flex;
  flex-wrap:wrap;
   margin: 10px;

}
.restaurant-card{
 
 height: auto;
 justify-content:space-evenly;
 display: flex;
 flex-wrap: wrap;

  margin: 5px;
}

.restaurant-logo {
  width: 150px;
  height: auto; 
}
.image-container {
  display: flex; 
  gap: 10px;
}

.restaurant-logo {
  width: 150px;
  height: auto; 
}

